{% extends 'todo_app/base.html' %}

{% load static %}

{% block title %} TaskMate | Edit Task {% endblock title %}</title> 

{% block content %}
<div class="container">
    <br>

   

      <form method="POST">

          {% csrf_token %}
        
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Update task</label>
              <input type="text" class="form-control" name="task" placeholder="{{ task_obj.task }}" value="{{ task_obj.task }}">
            </div>

            

            {% if task_obj.done %}
          
            <div class="d-flex flex-row">
              <div class="mb-3 form-check mx-2">
                <input type="checkbox" class="form-check-input" id="done" name="done" value="done" checked>
                <label class="form-check-label " for="done">Done</label>
              </div>

              {% else %}

              <div class="d-flex flex-row">
                <div class="mb-3 form-check mx-2">
                  <input type="checkbox" class="form-check-input" id="done" name="done" value="done">
                  <label class="form-check-label " for="done">Done</label>
                </div>

                {% endif %}


                {% if task_obj.important %}
              <div class="mb-3 form-check mx-2">
                <input type="checkbox" class="form-check-input" id="important" name="important" value="important" checked>
                <label class="form-check-label " for="important">Important</label>
              </div>

              {% else %}

              <div class="mb-3 form-check mx-2">
                <input type="checkbox" class="form-check-input" id="important" name="important" value="important">
                <label class="form-check-label " for="important">Important</label>
              </div>
             
              {% endif %}
            
        
          </div>
            <button type="submit" class="btn btn-warning">Save</button>
          </form>
       
       
</div>

{% endblock content %}
