{% extends 'todo_app/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} TaskMate | Login {% endblock title %}</title> 

{% if messages %}

  {% for message in messages %}

  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Saved!</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  {% endfor %}

  {% endif %}


{% block content %}

<h2 class="text-muted text-center mt-3 mb-3">Log in to your account!</h2>
<form method="POST">

    {% csrf_token %}

    {{ form|crispy }}


<button class="btn btn-success mt-2" type="submit">Login</button>

</form>

{% endblock content %}

